<% if tasks.any? %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>タスク</th>
        <th>ステータス</th>
        <th>投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
        <tr>
          <td><%= link_to task.content, task %></td>
          <td><%= task.status %></td>
          <td><%= task.created_at.getlocal("+09:00").strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate tasks %>
  </div>
<% end %>