<div>
  <h2><%= current_user.name %> さんのタスク一覧</h2>
</div>

<div>
  <ul class="nav nav-tabs nav-justified">
    <li><a href="#">未着手</a></li>
    <li><a href="#">着手</a></li>
    <li><a href="#">完了</a></li>
  </ul>
</div>